@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
}

address {
  font-style: normal;
}

.header__nav-list, .header__info, .popup__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__paragraph::after, .about__heading::after, .popup-link::after {
  content: "";
  display: block;
  position: absolute;
}

.header__list-item a:after, .header__info a:after, .popup__info a:after, .popup__list-item a:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
}
.header__list-item a:hover:after, .header__info a:hover:after, .popup__info a:hover:after, .popup__list-item a:hover:after,
.header__list-item a:focus:after,
.header__info a:focus:after,
.popup__info a:focus:after,
.popup__list-item a:focus:after {
  width: 100%;
}

.wrapper {
  min-height: 100%;
  background-color: #282828;
  overflow: hidden;
  width: 100%;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  max-width: none;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  margin-right: 90px;
  padding: 15px 30px;
  background: #99862A;
  white-space: nowrap;
  transition: 0.2s;
}
.btn:hover {
  background: #bb4444;
  transition: 0.2s;
  border-radius: 15px;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  max-width: none;
  margin-bottom: 0px;
  font-family: "Playfair Display";
}

.header__burger-wrapper {
  position: absolute;
  margin: 20px 50%;
  transform: translateX(-32%);
  width: 355px;
  background-color: rgb(58, 58, 1);
  text-align: center;
}

#header__check-menu {
  display: none;
}

.header__lable {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  line-height: 35px;
  margin-bottom: 40px;
  cursor: pointer;
  z-index: 2;
}

.header__burger-line {
  position: absolute;
  top: 9px;
  right: 100px;
  width: 35px;
  height: 2px;
  border-radius: 10px;
  background-color: #99862A;
  transition: 0.5s all;
}

.header__burger-line--second, .header__burger-line--third {
  top: 16px;
}

.header__burger-line--fourth {
  top: 23px;
}

.header__main-menu {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(130%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.header__burger-link {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #3a3a01;
  transition: 0.15s all;
}
.header__burger-link:hover {
  color: rgba(255, 255, 255, 0.4784313725);
  transition: 0.15s all;
}

#header__check-menu:checked ~ .header__main-menu {
  max-height: 500px;
  font-size: 16px;
}

#header__check-menu:checked ~ .header__burger-line--first {
  display: none;
}

#header__check-menu:checked ~ .header__burger-line--second {
  transform: rotate(-45deg);
}

#header__check-menu:checked ~ .header__burger-line--third {
  transform: rotate(45deg);
}

#header__check-menu:checked ~ .header__burger-line--fourth {
  display: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translateX(0);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  max-height: 100%;
  justify-content: end;
}

.popup__content {
  background-color: #3a3a01;
  height: 100vh;
  max-width: 300px;
  padding: 30px;
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  transition: 0.3s all;
}
.popup__close:hover {
  transition: 0.3s all;
  color: rgba(255, 255, 255, 0.5);
}

.popup-link {
  position: fixed;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.popup-link::after {
  background: #99862A;
  max-width: 100px;
  height: 60px;
  top: -20px;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 10%;
}

.popup__anchor {
  position: fixed;
}

@media (max-width: 600px) {
  .popup__content {
    max-width: 100%;
    height: 100vh;
  }
  .popup__body {
    padding: 0;
  }
}
.popup__title {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.popup__nav-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: none;
  margin-bottom: 0;
}

.popup__list-item {
  padding-bottom: 30px;
}

.popup__button {
  margin-right: 30px;
}

.popup__info {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  max-width: none;
  margin-bottom: 15px;
}

.header {
  background: url("../images/bgc.jpg") 30% 0/cover no-repeat;
  height: 100vh;
}

.header__info div {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  max-width: none;
  margin-bottom: 33px;
  margin-top: 30px;
}

.header__nav-list {
  justify-content: space-around;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  max-width: none;
  margin-bottom: 215px;
}

.header__list-item {
  border: 1px solid #fff;
  padding: 11px 110px 11px 110px;
}
.header__list-item:first-child {
  border-left: none;
}
.header__list-item:last-child {
  border-right: none;
}

.header__heading {
  font-size: 110px;
  font-family: "Playfair Display";
  margin-bottom: 320px;
  margin-left: 30%;
  transform: translateX(10%);
  text-shadow: 0px 0px 30px #fff;
  text-transform: uppercase;
  white-space: nowrap;
}
.header__heading br {
  display: none;
}

.header__button-box {
  display: flex;
  justify-content: center;
  transform: translateX(10%);
}
.header__button-box:last-child {
  margin-right: 0;
}

.header__burger-wrapper {
  display: none;
}

.popup {
  display: none;
}

.popup-link {
  display: none;
}

@media (max-width: 1170px) {
  .header__nav-list {
    display: none;
  }
  .header__burger-wrapper {
    display: block;
  }
  .header__info {
    margin-bottom: 200px;
  }
  .header__heading {
    word-break: break-all;
    margin-left: 0;
    transform: translateX(0%);
    max-width: 100px;
    margin-bottom: 270px;
  }
  .header__heading br {
    display: block;
  }
  .header__button-box {
    transform: translateX(15%);
  }
}
@media (max-width: 900px) {
  .header__heading {
    font-size: 90px;
    margin-bottom: 350px;
  }
}
@media (max-width: 750px) {
  .header__burger-wrapper {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__heading {
    padding-top: 400px;
  }
  .header__button-box {
    display: none;
  }
  .popup {
    display: block;
  }
  .popup-link {
    display: block;
  }
}
@media (max-width: 365px) {
  .header__heading {
    font-size: 75px;
  }
}
.about {
  background-color: #282828;
  margin: 100px 0;
}

.about__content {
  border: 1px solid #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 60px 190px 270px;
}

.about__heading {
  margin-bottom: 80px;
  position: relative;
}
.about__heading::after {
  background: #fff;
  max-width: 160px;
  height: 1px;
  bottom: -40px;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about__paragraph {
  position: relative;
}
.about__paragraph::after {
  background: url("../images/decor/glass.svg") 0 0/cover no-repeat;
  max-width: 160px;
  height: 160px;
  top: 180px;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  .about__content {
    padding: 60px 100px 270px;
  }
}
@media (max-width: 845px) {
  .about__paragraph::after {
    top: 200px;
  }
}
@media (max-width: 745px) {
  .about__paragraph::after {
    top: 230px;
  }
}
@media (max-width: 690px) {
  .about__content {
    padding: 60px 50px 270px;
  }
}
@media (max-width: 590px) {
  .about__paragraph::after {
    top: 260px;
  }
}
@media (max-width: 540px) {
  .about {
    background-color: #282828;
    margin: 50px 0;
  }
  .about__content {
    padding: 30px 40px;
  }
  .about__heading {
    font-size: 28px;
  }
  .about__paragraph::after {
    top: -170px;
    left: 10px;
  }
}
@media (max-width: 520px) {
  .about__heading {
    font-size: 24px;
  }
  .about__paragraph::after {
    display: none;
  }
}
@media (max-width: 400px) {
  .about__content {
    padding: 10px 20px;
  }
  .about__heading {
    margin-bottom: 40px;
  }
  .about__heading::after {
    bottom: -20px;
  }
}/*# sourceMappingURL=style.css.map */