.wrapper{
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}
.container{
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.btn{
  @include text(16px, 500, normal, none, 0);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  margin-right: 90px;
  padding: 15px 30px;
  background: $back-btn;
  white-space: nowrap;
  transition: .2s;
  &:hover{
    background: $hover-back-btn;
    transition: .2s;
    border-radius: 15px;
  }
}