.header {
  background: url('../../../images/bgc.jpg') 30% 0 / cover no-repeat;
  height: 100vh;
}
.header__inner {
}
.header__info {
  @extend %flex; 
  div{
    @include text(13px, 500, 1.5, none, 33px, #fff);
    margin-top: 30px;
  }
}
.header__nav-list{
  @extend %flex; 
  justify-content: space-around;
  @include text(14px, 400, 1.5, none, 615px, #fff);
}
.header__button-box {
  display: flex;
  justify-content: center;
  transform: translateX(10%);
  &:last-child{
    margin-right: 0;
  }
}
.header__button {
  @include text(16px, 500, normal, none, 0, #fff);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  margin-right: 90px;
  padding: 15px 30px;
  background: #99862A;
  white-space: nowrap;
}